@model IEnumerable<TMDT.Models.Publisher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<button class="btn btn-default btn-sm" style="margin-bottom:10px">
    @Html.ActionLink("Create New", "Create")
</button>
<table class="table table-bordered" id="dataTable" width="100%" height="100%" cellspacing="2">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherEmail)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherEmail)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Publishers",new { id = item.PublisherID })" class="btn">
                        <i class="far fa-edit fa-2x" style="color: #F0AF83"></i>
                    </a>
                    <a href="@Url.Action("Details","Publishers",new { id = item.PublisherID })" class="btn">
                        <i class="fa fa-sticky-note fa-2x" style="color:#83d9dc" aria-hidden="true"></i>

                    </a>
                    <a href="@Url.Action("Delete","Publishers",new { id = item.PublisherID })" class="btn">
                        <i class="fa fa-trash fa-2x" style="color:#FF9AA2" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>
