@model TMDT.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="form_register">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal register_user", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2", @placeholder = "Hình ảnh" })
            <div class="">
                <img src="~/Content/Images/thumbnail.png" style="height:200px ;width:200px;" id="prev" />
                <input type="file" name="ImageUpload" onchange="ShowImgPrev(this,document.getElementById('prev'))" />
            </div>
        </div>
        <div class="form-group">

            <div class="">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            </div>
        </div>

        <div class="form-group">

            <div class=" ">
                @Html.DropDownListFor(model => model.Sex, new List<SelectListItem>
                 { new SelectListItem{Text="Khác", Value="Khác", Selected = true,},
                 new SelectListItem{Text="Nam", Value="Nam"},
                   new SelectListItem{Text="Nữ", Value="Nữ" },
                   }, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">

            <div class=" ">
                @Html.TextBoxFor(m => m.UserDateOfBirth, new { @class = "form-control", @type = "date", @placeholder = "Email" })
            </div>
        </div>
        <div class="form-group">

            <div class=" ">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Địa chỉ" })
            </div>
        </div>
        <div class="form-group">

            <div class=" ">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Số điện thoại" })
            </div>
        </div>
        <div class="form-group">

            <div class=" ">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
            </div>
        </div>
        <div class="form-group">

            <div class=" ">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 register_user_btn  ">
                <input type="submit" class="btn btn-info " value="Đăng ký" />
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
