<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" href="~/Content/Images/logo.png" type="image/gif" sizes="16x16">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/Site")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top header_top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo_wrapper ">
                    <a href="@Url.Action("Index", "Books")">
                        <h1 class="logo_top">AQK</h1>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="search_div_bar">
                            @using (Html.BeginForm("SearchTenSach", "Books", new { @class = "search_bar" }))
                            {
                                <input class="input_text" type="text" placeholder="Tìm kiếm sách..." name="tenSach">
                                <input class="input_btn" type="submit" value="Tìm" />}
                        </div>
                    </li>
                    <li class="bag_cart ">
                        <div class="dropdown">
                            <a class="glyphicon glyphicon-shopping-cart dropBtn" href="/ShoppingCart/ShowToCart">
                                @Html.Action("BagCart", "ShoppingCart")
                            </a>
                            <div class="dropdown-content">
                                <div>
                                    @Html.Action("BagCartItem", "ShoppingCart")
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="div_sroll_wrapper">
            <div class="scrolltop-wrap">
                <a href="#" role="button" aria-label="Scroll to top" style="height:60px !important; width:60px !important;">
                    <svg viewBox="0 0 48 48" width="60px" height="60px">
                        <path id="scrolltop-bg" d="M0 0h48v48h-48z"></path>
                        <path id="scrolltop-arrow" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
                    </svg>
                </a>
            </div>
        </div>
        @RenderBody()

    </div>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v9.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="105714171386163"
         theme_color="#20cef5"
         logged_in_greeting="Chào bạn! Chúng tôi có thể giúp gì cho bạn!!!"
         logged_out_greeting="Chào bạn! Chúng tôi có thể giúp gì cho bạn!!!">
    </div>
    <footer class="footer-distributed footer_wrapper ">
        <div class="footer-left">
            <h3>Nhóm 4 -TMDT</h3>
            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">Sản phẩm</a>
                ·
                <a href="/ShoppingCart/ShowToCart/">Giỏ Hàng</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Contact</a>
            </p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4601638096246!2d106.66521371417176!3d10.776024762149241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edba026cb75%3A0xb2a9aab49da1c58f!2zMTU1IFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1594646120331!5m2!1sen!2s"
                    width="400"
                    height="250"
                    frameborder="0"
                    style="border:0;"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0"></iframe>
            <p class="footer-company-name">© Copyright Sử Hoàng Ân 2020</p>
        </div>


        <div class="footer-right">

            <p>Contact Us</p>
            <form action="#" method="post">
                <input type="text" name="email" placeholder="Email">
                <textarea name="message" placeholder="Message"></textarea>
                <button>Send</button>
            </form>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/ChangeImg.js"></script>
    <script src="~/Scripts/ajaxFilter.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
