@model IEnumerable<TMDT.Models.OrderDetail>

@{
    ViewBag.Title = "DetailOfUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPriceSale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookName)
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPriceSale)
        </td>    
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "ListOrderOfUser")
</div>
