@model TMDT.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")]</text>
            }
        </dd>
        <dt>Address:</dt>
        <dd>
            @(Model.Address ?? "None")
           
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "ChangeAddress")&nbsp;&nbsp;]</text>
               
           
          
        </dd>

        <dt>Change avatar</dt>
        <dd>
            @using (Html.BeginForm("EditAvatar", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="col-md-5">
                    <img src="~/Content/Images/thumbnail.png" style="height:50px ;width:50px;" id="prev" />
                    <input type="file" name="ImageUpload" onchange="ShowImgPrev(this,document.getElementById('prev'))" />
                    <button class="btn btn-block" type="submit">Submit</button>
                </div>
            }
        </dd>
    </dl>
</div>
